.login-div{
    width: 80%;
    min-height: 100vh;
    align-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.login-logo {
    width: 65%;
}

.login-container {
    justify-content: center;
    height: 45%;
}

.login-texto_principal{
    font-size: 3em;
    color: #B01C33;    
    margin-bottom: 10px;
}

.login-texto_secundario{
    margin: 10px 0 ;
    font-size: 1.5em;
    color: #534c4d;
}

.login-area_cadastro{
    margin: 15px 0;
}