<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block titulo %}
        Zeta
        {% endblock %}</title>
  </head>

{% block body%}
    <body>

    <h1>Melhor rede social do mundo</h1>

    <h2>Entre no seu perfil</h2>

    ,<form method = "POST">
    {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.senha.label() }}
        {{ form.senha() }}

        {{ form.botao }}

    </form>

    <a href = "{{ url_for('criar_conta')}}">criar conta</a>

    </body>
{% endblock %}
</html>