<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block titulo %}
        Zeta
        {% endblock %}
    </title>
  </head>

{% block body%}
    <body>

    <h1>Melhor rede social do mundo</h1>

    <h2>Entre no seu perfil</h2>

    <form method = "POST">
    {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.username.label() }}
        {{ form.username() }}

        {{ form.senha.label() }}
        {{ form.senha() }}

        {{ form.confirmacao_senha.label() }}
        {{ form.confirmacao_senha() }}

        {{ form.botao }}

    </form>

    <a href = "{{ url_for('home')}}">return</a>

    </body>
{% endblock %}
</html>