{% extends "Homepage.html" %}

{% block titulo %}
Perfil - {{usuario}}
{% endblock %}

{% block body%}
<body>
{% include "nav-bar.html" %}

<h1>Entre no seu perfil: {{ usuario.username }} </h1>

{% if form %}
<form method = "POST" enctype = "multipart/form-data">
    {{ form.csrf_token }}

    {{ form.foto() }}
    {{ form.botao() }}
</form>
{% endif %}



{% for foto in usuario.fotos%}
    <img src = "{{ url_for('static', filename='post/{}.format(foto.imagem)') }}">
{% endfor %}

</body>
{% endblock %}